# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase local emulators and functions
.firebase/
firebase-debug.log

# Firebase Functions dependencies (optional if you commit functions folder separately)
functions/node_modules/
functions/.env
functions/.firebase

# Hosting cache (optional)
.firebaserc
